[submodule "python-twitter"]
	path = python-twitter
	url = https://github.com/bear/python-twitter.git
[submodule "requests-oauthlib"]
	path = requests-oauthlib
	url = https://github.com/requests/requests-oauthlib.git
[submodule "requests"]
	path = requests
	url = https://github.com/kennethreitz/requests.git
[submodule "oauthlib"]
	path = oauthlib
	url = https://github.com/idan/oauthlib.git
