
*.py[cod]
**/*.mru

botenv

uniparty/Noto-unhinted
uniparty/out
uniparty/arc

floorisx_credentials.json
jlj_ebooks_credentials.json
secrethist_credentials.json
uniparty_credentials.json

jlj_ebooks/joshleejosh_tweets.json
floorisx/floorisx_shuffle.json

*.tmp
.DS_Store

