
*.py[cod]
**/*.mru

botenv

credentials/*.json
!credentials/example_credentials.json

jlj_ebooks/joshleejosh_tweets.json
floorisx/floorisx_shuffle.json

uniparty/Noto-unhinted
uniparty/out
uniparty/arc
uniparty/fonts.shuffle

*.tmp
.DS_Store

