
*.py[cod]
**/*.mru

botenv

floorisx_credentials.json
jlj_ebooks_credentials.json
secrethist_credentials.json
uniparty_credentials.json

jlj_ebooks/joshleejosh_tweets.json
floorisx/floorisx_shuffle.json

uniparty/Noto-unhinted
uniparty/out
uniparty/arc
uniparty/fonts.shuffle

*.tmp
.DS_Store

